.form-container {
   background-color: var(--dark-blue);
   padding: 20px;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 500px;
}

.form-container h2 {
   text-align: center;
   font-size: 1.5em;
   color: var(--gray);
   margin-top: 10px;
}

.form-container form {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 8px;
}

.form-container form label {
   display: block;
   width: 100%;
   text-align: left;
}

.form-container form input[type="text"], button {
   width: 100%;
   max-width: 500px;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid var(--dark-gray);
   border-radius: 5px;
   font-size: 1rem;
}

.form-container form button {
   background-color: var(--light-blue);
   color: var(--almost-black);
   border: none;
   cursor: pointer;
   transition: background-color 0.3s;
}

.form-container form button:hover {
   background-color: var(--darker-light-blue);
}

.login.error {
   pointer-events: none;
   background-color: red;
   color: white;
}

.switch-user-btn {
   cursor: pointer;
   transition: opacity 0.3s;
}

.switch-user-btn:hover {
   opacity: 0.7;
}